.body{
    display: flex;
    justify-content: space-evenly;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.key-container{
    width: 80%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.key{
    border: 1px solid white;
    background-color: black;
    height: 100%;
    width: 10%;
    color: white;
    padding: 30px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition: all 0.07s;
}

.playing{
    transform: scale(1.1);
    border: 5px solid #1AE2D6;
    box-shadow: #1AE2D6;
}
.key_char{
    font-size: 45px;
}

.sound{
    margin-top: 2px;
}
